/* Footer icons */
.footer-wrapper .footer-icons{
  display:inline-block;
 }
 
 /* Footer section columns */
 .footer-wrapper .footer-section-columns{
  min-height:453px;
  transform:translatex(-4px) translatey(0px);
 }
 
 @media (min-width:1001px){
 
  /* Footer icons */
  .footer-wrapper .footer-icons{
   transform:translatex(300px) translatey(40px);
  }
  
  /* Footer section columns */
  .footer-wrapper .footer-section-columns{
   padding-top:175px;
  }
  
 }